* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --blue: #0071e3;
  --white: #f1f1f1;
}

/* Background image  */

.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
    url(img/background.png);
  background-size: cover;
  background-position: center;
}

/* Nav-bar */

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar img {
  width: 35px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

/* The animation for my fake button */
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: var(--blue);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* Content on my Hero-section */

.content {
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
  color: var(--white);
}

.content h1 {
  margin-top: 5rem;
  font-size: 64px;
  font-weight: 600;
}

.content p {
  margin: 5rem auto 100px;
  font-size: 24px;
  font-weight: 600;
  line-height: 25px;
  max-width: 50%;
}

/* Added a button that have cool css animation on hover but can't fide good use case :) */

button {
  width: 100px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 20px;
  font-weight: bold;
  border: 1px solid var(--blue);
  background: transparent;
  color: var(--white);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background-color: var(--blue);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* Main page */

.page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 8rem;
  height: auto;
  margin: 8rem 8rem 20rem 8rem;
  max-width: 100%;
  background-color: var(--white);
  border-radius: 30px;

  padding: 20px;

  grid-template-areas:
    "product-1 product-1 product-text-1 product-text-1 "
    "product-text-2 product-text-2 product-2 product-2 "
    "product-3 product-3 product-text-3 product-text-3";
}

.pruduct-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  margin: 20px;
  padding: 20px;
  max-width: 100%;
}

.pruduct-image img {
  width: 500px;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.product-text {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 50px;
  flex-wrap: wrap;
  max-width: 100%;
  border-radius: 30px;
}

#product-1 {
  grid-area: product-1;
}

#product-text-1 {
  grid-area: product-text-1;
  background-color: rgb(255, 0, 0);
  color: white;
}

#product-2 {
  grid-area: product-2;
}
#product-text-2 {
  grid-area: product-text-2;
  background-color: rgb(1, 255, 22);
  color: white;
}
#product-3 {
  grid-area: product-3;
}
#product-text-3 {
  grid-area: product-text-3;
  background-color: rgb(5, 80, 255);
  color: white;
}

.pruduct-image:hover {
  box-shadow: #161616 3px 5px 8px;
  border-radius: 30px;
  transform: scale(1.01);
  transition: 0.2s;
}

/* FOOOOTER */

.footer {
  overflow-y: hidden;
  overflow-x: hidden;
  background: #161616;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1rem 0;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: var(--white);
}

.footer .row a i img {
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: 25px;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media only screen and (max-width: 768px) {
  .page {
    margin: 20px;
    padding: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    row-gap: 3rem;
    grid-template-areas:
      "product-1"
      "product-text-1"
      "product-2"
      "product-text-2"
      "product-3"
      "product-text-3";
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .page {
    padding: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    grid-template-areas:
      "product-1"
      "product-text-1"
      "product-2"
      "product-text-2"
      "product-3"
      "product-text-3";
  }
}
