* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    --blue: #0071e3;
    --white: #f1f1f1
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
        url(img/background.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--white);
}

.content h1 {
    margin-top: 15rem;
    font-size: 64px;
    font-weight: 600;
    
}

.content p {
    margin: 30px auto 100px;
    font-size: 32px;
    font-weight: 600;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--blue);
    background: transparent;
    color: var(--white);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background-color: var(--blue);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

/* Main page */

.page {
    overflow: hidden;
    display: grid;
    background-color: #000000;
}


.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem; 
}
.product-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    border-bottom: var(--white) 1px solid;
    border-top: var(--white) 1px solid;
    overflow: hidden; 
}

.product-section:nth-child(2){
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}

.product {
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    max-height: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    text-align: center; 
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.pruduct-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 100%;
    max-height: 100%; 
    background-color: inherit;
}

.pruduct-text {
    font-size: 50px;
    color: var(--white);
    text-align: center;
    overflow: hidden; 
}

.product-section a {
    text-decoration: none;
}

.product:hover {
    border: var(--white) 1px solid;
    border-radius: 25px;
    transform: scale(1.01);
    transition: 0.2s;
}    

@media (max-width: 1300px) {
    .navbar{
        width: 100%;
    }
    .navbar img{
        display: none;
        
    }
    .product-section{
        padding: 0;
        margin: 0;
    }
    
    .pruduct-text{
        font-size: 16px;
        font-weight: 600;
    }
}